$cols: 12;
$gutter: 20px;

$large-device: 1200px;
$medium-device: 760px;
$small-device: 480px;

*, *::after, *::before {
  box-sizing: border-box;
}

@mixin device($size) {
  @if $size == large {
    @media only screen and (min-width: #{$large-device}) {
      @content;
    }
  }
  @else if $size == medium {
    @media only screen and (min-width: #{$medium-device}) and (max-width: #{$large-device - 1}) {
      @content;
    }
  }
  @else if $size == small {
    @media only screen and (max-width: #{$medium-device - 1}) {
      @content; 
    }
  }
}


@function grid($col, $offset: false) {
  $width: $col / $cols * 100 + "%";
  $result: calc(#{$width} - #{$gutter});
  @if $offset == offset {
    $gutter: $gutter / 2;
    $result: calc(#{$width} + #{$gutter});
  }
  @return $result;
}

@for $i from 1 through $cols {
  .grid-#{$i} {
    width: grid($i);
  }
}

}