$light-beige: #EDECE4;
$medium-beige: #CBC6B9 ;
$dark-beige: #988c77 ; 
$grey: #2A2426;
$green: #1AB912;

$font-1: 'PT Mono', Courier, monospace;
$font-2: 'Aref Ruqaa', 'Times New Roman', Times, serif;
